# Dependencies
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db
